{%extends 'base.html'%}
{% block title %}
{% endblock title %}
About
{% block body %}

<head>
    <style>
        body {
            background-image: url("/static/Images/rocks.jpg");
            background-color: #000000;

        }

        h1 {
            text-align: center;
            font-size: 150px;
            color: rgb(236, 248, 250);
        }

        p {
            text-align: center;
            font-size: 40px;
            color: rgb(236, 248, 250);
        }

        div {
            text-align: center;
        }
    </style>
</head>

<body>

    <h1>About ME!</h1>
    <p><br>
        My name is Anand Suralkar<br><br>I am an Engineering Student persuing Computer-science Engineering in GH.
        Raisoni College of Engineering,Nagpur.<br><br>
        My name is Anand Suralkar<br>
        I Live in Jalgao ,Maharashtra.<br>
        I Love Coding .
    </p>

</body>
{% endblock body %}