{%extends 'base.html'%}
{% block title %}
{% endblock title %}
Services
{% block body %}
<div class="container">
<head>
  <style>
    .responsive {
  width: 40vh;
  height: 40vh;
  object-fit: cover;
}
  </style>
</head>
<h1  class = my-2 text centre >Select the Project You Want to See</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class = "responsive" src="/static/Images/code.png"></img>
             <div class="card-body">
              <p class="card-text">Open Document</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button onclick="window.location.href='https://github.com/anandsuralkar/Computer-science/tree/5c432481ddd584d48d47cf8641f1e5aa271dfb5f/Python%20Data%20Processing%20practicals'" type="button" class="btn btn-primary">View</button>
                  <button onclick="window.location.href='https://github.com/anandsuralkar/Computer-science/tree/5c432481ddd584d48d47cf8641f1e5aa271dfb5f/Python%20Data%20Processing%20practicals'" type="button" class="btn btn-primary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class = "responsive" src="/static/Images/coding/altumcode-oZ61KFUQsus-unsplash.jpg"></img>
            <div class="card-body">
              <p class="card-text">Open Dcoument.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button onclick="window.location.href='https://github.com/anandsuralkar/Computer-science/tree/5c432481ddd584d48d47cf8641f1e5aa271dfb5f/Python%20Data%20Processing%20practicals'" type="button" class="btn btn-primary">View</button>
                  <button onclick="window.location.href='https://github.com/anandsuralkar/Computer-science/tree/5c432481ddd584d48d47cf8641f1e5aa271dfb5f/Python%20Data%20Processing%20practicals'" type="button" class="btn btn-primary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class = "responsive" src="/static/Images/coding/arnold-francisca-f77Bh3inUpE-unsplash.jpg"></img>
            <div class="card-body">
              <p class="card-text">Open Dcoument.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button onclick="window.location.href='https://github.com/anandsuralkar/Computer-science/tree/5c432481ddd584d48d47cf8641f1e5aa271dfb5f/Python%20Data%20Processing%20practicals'" type="button" class="btn btn-primary">View</button>
                  <button onclick="window.location.href='https://github.com/anandsuralkar/Computer-science/tree/5c432481ddd584d48d47cf8641f1e5aa271dfb5f/Python%20Data%20Processing%20practicals'" type="button" class="btn btn-primary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class = "responsive" src="/static/Images/coding/caspar-camille-rubin-89xuP-XmyrA-unsplash.jpg"></img>
            <div class="card-body">
              <p class="card-text">Open Dcoument.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button onclick="window.location.href='https://github.com/anandsuralkar/Computer-science/tree/5c432481ddd584d48d47cf8641f1e5aa271dfb5f/Python%20Data%20Processing%20practicals'" type="button" class="btn btn-primary">View</button>
                  <button onclick="window.location.href='https://github.com/anandsuralkar/Computer-science/tree/5c432481ddd584d48d47cf8641f1e5aa271dfb5f/Python%20Data%20Processing%20practicals'" type="button" class="btn btn-primary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class = "responsive" src="/static/Images/coding/chris-ried-ieic5Tq8YMk-unsplash.jpg"></img>
            <div class="card-body">
              <p class="card-text">Open Dcoument.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button onclick="window.location.href='https://github.com/anandsuralkar/Computer-science/tree/5c432481ddd584d48d47cf8641f1e5aa271dfb5f/Python%20Data%20Processing%20practicals'" type="button" class="btn btn-primary">View</button>
                  <button onclick="window.location.href='https://github.com/anandsuralkar/Computer-science/tree/5c432481ddd584d48d47cf8641f1e5aa271dfb5f/Python%20Data%20Processing%20practicals'" type="button" class="btn btn-primary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class = "responsive" src="/static/Images/coding/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg"></img>
            <div class="card-body">
              <p class="card-text">Open Dcoument.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button onclick="window.location.href='https://github.com/anandsuralkar/Computer-science/tree/5c432481ddd584d48d47cf8641f1e5aa271dfb5f/Python%20Data%20Processing%20practicals'" type="button" class="btn btn-primary">View</button>
                  <button onclick="window.location.href='https://github.com/anandsuralkar/Computer-science/tree/5c432481ddd584d48d47cf8641f1e5aa271dfb5f/Python%20Data%20Processing%20practicals'" type="button" class="btn btn-primary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}
